@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bem vindo a Backend!</h2>
    <p>Realizamo-nos por prover aos seus aparelhos a melhor qualidade de vida útil possível</p>
</div>

<div class="servicesContainer" style="margin-top: 18px;">
    <h4>Oferecemos: </h4>
    <ul>
        <li style="margin-top: 4.2%">Limpeza de hardware</li>
            <p>Desmontamos seu equipamento, limpamos os componentes separadamente conforme necessário e o remontamos.</p>
            <p>Valor: R$150</p>
            <a class="btn btn-primary" href="Schedule/Register" role="button">Agendar</a>
            
        <li style="margin-top: 4.2%">Formatação do sistema</li>
            <p>Realizamos uma cópia segura dos seus arquivos, restauramos o padrão de fábrica do sistema e realocamos seus dados.</p>
            <p>Valor: R$150</p>
            <a class="btn btn-primary" href="Schedule/Register" role="button">Agendar</a>
        
        <li style="margin-top: 4.2%">Instalação de componente</li>
            <p>Intalamos devidamente seu novo componente em seu aparelho.</p> 
            <p>Valor: R$100</p>
            <a class="btn btn-primary" href="Schedule/Register" role="button">Agendar</a>
    </ul>  
</div>
